<div class="card-deck" style="padding-top: 15px;">
  <div class="card border-dark mb-3">
    <h5 class="card-header font-weight-bold mb-2" style="background-color: grey;">Promedio</h5>
    <div class="card-body">
      <h5 class="card-title">{{promedio}}</h5>
    </div>
  </div>

  <div class="card border-dark mb-3">
    <h5 class="card-header font-weight-bold mb-2" style="background-color: grey;">Desviacion estandar</h5>
    <div class="card-body">
      <h5 class="card-title">{{desviasionStandar}}</h5>
    </div>
  </div>

  <div class="card border-dark mb-3">
    <h5 class="card-header card-header font-weight-bold mb-2" style="background-color: grey;">Mediana</h5>
    <div class="card-body">
      <h5 class="card-title">{{mediana}}</h5>
    </div>
  </div>

    <div class="card border-dark mb-3">
        <h5 class="card-header card-header font-weight-bold mb-2" style="background-color: grey;">Rango intercuartilico</h5>
        <div class="card-body">
          <h5 class="card-title">{{rangoIntercuatilico}}</h5>
        </div>
  </div>
</div>

