<div class="row" style="background-color: beige;">
  <div class="col-md-2">
    <div class="accordion" id="accordionGraficos">
      <div class="card">
        <div class="card-header" id="headingBarras" style="background-color: lightgray;">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseBarras"
              aria-expanded="false" aria-controls="collapseBarras">
              Graficos en barra
            </button>
          </h2>
        </div>

        <div id="collapseBarras" class="collapse" aria-labelledby="headingBarras" data-parent="#accordionGraficos">
          <div class="car-body" style="background-color: lightyellow;">
            <button class="btn btn-link btn-block text-center" (click)="grafico.mostrarContagiosMes()">Casos por
              mes</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTorta" style="background-color: lightgray;">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTorta"
              aria-expanded="false" aria-controls="collapseTorta">
              Graficos en torta
            </button>
          </h2>
        </div>

        <div id="collapseTorta" class="collapse" aria-labelledby="headingTorta" data-parent="#accordionGraficos">
          <div class="car-body" style="background-color: lightyellow;">
            <button class="btn btn-link btn-block text-center" (click)="grafico.mostrarEdad()">Por edad</button>
            <button class="btn btn-link btn-block text-center" (click)="grafico.mostrarComunas()">Por comunidad</button>
            <button class="btn btn-link btn-block text-center" (click)="grafico.mostrarDatos()">Por sexo</button>
            <button class="btn btn-link btn-block text-center" data-toggle="modal"
              data-target="#filtroComunaModal">Filtrar varias comunas</button>
            <!-- Modal -->
            <div class="modal fade" id="filtroComunaModal" tabindex="-1" role="dialog"
              aria-labelledby="modalComunaLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="modalComunaLabel">filtro de comunas</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <app-lista-comunas></app-lista-comunas>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingInformes" style="background-color: lightgray;">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="modal" data-target="#filtrosModal">
              Mostrar datos de informes
            </button>
          </h2>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingInformes" style="background-color: lightgray;">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" (click)="descargarpdf()">
              Generar reporte PDF
            </button>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <app-mapa-geografico></app-mapa-geografico>
    </div>
    <app-formulario-filtros #filtros></app-formulario-filtros>
  </div>
  <div class="col-xl-5">
    <app-grafica #grafico></app-grafica>
  </div>
</div>
<div>
  <app-datos-reportes></app-datos-reportes>
  <canvas id="lienzoFalso"></canvas>
</div>
