<div class="modal fade" id="filtrosModal" tabindex="-1" role="dialog" aria-labelledby="FiltrosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="FiltrosLabel">Formulario para filtro de informacion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="SelectSexo">Sexo</label>
                        <br>
                        <select name="Sexo" #Sexo="ngModel"
                        class="custom-select" id="SelectSexo" [(ngModel)]="sexoValue" style="width: 50%;">
                            <option selected></option>
                            <option *ngFor="let sexo of sexos" [value]="sexo" >{{sexo}}</option>
                        </select>
                        <br>
                        <label for="Edadmin">Edad minima</label>
                        <br>
                        <input type="number" class="form-control" placeholder="Edad minima"
                        id="Edadmin" min="0" name="edadMin" [(ngModel)]="edadMinValue" style="width: 50%;">
                        <br>
                        <label for="Edadmax">Edad maxima</label>
                        <br>
                        <input type="number" class="form-control" placeholder="Edad maxima"
                        id="Edadmax" min="0" name="edadMax" [(ngModel)]="edadMaxValue" style="width: 50%;">
                        <br>
                        <label for="SelectComuna">Comunas</label>
                        <br>
                        <select class="custom-select" id="SelectComuna" name="comuna" [(ngModel)]="comunaValue"
                        style="width: 50%;">
                            <option selected></option>
                            <option *ngFor="let comuna of comunas" [value]="comuna" >{{comuna}}</option>
                        </select>
                        <br>
                        <label for="SelectSeguridad">Seguridad social</label>
                        <br>
                        <select class="custom-select" id="SelectSeguridad"
                        name="seguridad" [(ngModel)]="seguridadValue" style="width: 50%;">
                            <option selected></option>
                            <option *ngFor="let seguridad of seguridadSocial" [value]="seguridad" >{{seguridad}}</option>
                        </select>
                        <br>
                        <label for="Oportunidadmin">Oportunidad minima</label>
                        <br>
                        <input type="number" class="form-control" placeholder="Oportunidad minima de los contagiados"
                        id="Oportunidadmin" min="0" name="oprtunidadMin" [(ngModel)]="oportunidadMinValue"
                        style="width: 50%;">
                        <br>
                        <label for="Oportunidadmax">Oportunidad maxima</label>
                        <br>
                        <input type="number" class="form-control" placeholder="Oportunidad maxima de los contagiados"
                        id="Oportunidadmaxima" min="0" name="oprtunidadMax" [(ngModel)]="oportunidadMaxValue"
                        style="width: 50%;">
                        <br>
                        <label for="FechaSinMin">Fecha de sintomas minima</label>
                        <br>
                        <div class="input-group">
                            <input #dp class="form-control" placeholder="dd-mm-yyyy"
                            name="dp" ngbDatepicker #d="ngbDatepicker"
                            [(ngModel)]="fechaSintomasMin" style="width: 50%;">
                            <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <span class="oi oi-calendar"></span>
                                    </button>
                            </div>
                        </div>
                        <br>
                        <label for="FechaSinMax">Fecha de sintomas maxima</label>
                        <br>
                        <div class="input-group">
                            <input #dp2 class="form-control" placeholder="yyyy-mm-dd"
                            name="dp2" ngbDatepicker #d2="ngbDatepicker"
                            [(ngModel)]="fechaSintomasMax" style="width: 50%;">
                            <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                        <span class="oi oi-calendar"></span>
                                    </button>
                            </div>
                        </div>
                        <br>
                        <label for="SelectCalculos">Realizar calculos por</label>
                        <br>
                        <select class="custom-select" id="SelectCalculos"
                        name="tipo" [(ngModel)]="tipoCalculo" style="width: 50%;">
                            <option selected></option>
                            <option *ngFor="let tipo of tipoFiltro" [value]="tipo" >{{tipo}}</option>
                        </select>
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary" (click)=obtenerConsolidado()
                         data-dismiss="modal">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
