<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" routerLink="/pagina-principal">Virus Zone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls=
    "navbarNavDropdown" aria-expanded="false" aria-label="Toggle-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/pagina-principal">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/red-neuronal">Red neuronal</a></li>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<footer style="background-color: lightskyblue;">
  <div class="container">
    <h4>Virus Zone</h4>
    <address>
      <p><span class="oi oi-tablet"></span>Sebastian Grajales Meza - sebastian.1701322337@ucaldas.edu.co</p>
      <p><span class="oi oi-tablet"></span>Cristian Camilo Agudelo - cristian.1701322386@ucaldas.edu.co</p>
      <p><span class="oi oi-tablet"></span>Nicolas Quintero - nicolas.1701421610@ucaldas.edu.co</p>
      <p><span class="oi oi-tablet"></span>Juan Pablo Loaiza - juan.1701422854@ucaldas.edu.co</p>
    </address>
  </div>
</footer>
