<div *ngFor="let comuna of listaComunas">
    <div class="form-check">
    <input class="form-check-input" type="radio" name="check-comuna" id={{comuna}} value={{comuna}}>
        <label class="form-check-label" for="{{comuna}}">
            {{comuna}}
        </label>
    </div>
</div>
<button type="button" class="btn btn-primary" (click)=enviar() data-dismiss="modal">Enviar</button>

