<form>
    <div class="form-group">
        <label for="SelectMunicipio">Sexo</label>
        <br>
        <select name="Municipio" #Sexo="ngModel"
        class="custom-select" id="SelectMunicipio" [(ngModel)]="municipioValue" style="width: 50%;">
            <option selected></option>
            <option *ngFor="let municipio of municipios" [value]="municipio" >{{municipio}}</option>
        </select>
        <br>
        <label for="altura">altura</label>
        <input type="number" class="form-control" placeholder="altura"
            id="altura" name="altura" [(ngModel)]="alturaValue" style="width: 50%;">
        <br>
        <label for="ilv">ilv</label>
        <input type="number" class="form-control" placeholder="ilv"
            id="ilv" name="ilv" [(ngModel)]="ilv" style="width: 50%;">
        <br>
        <label for="ild">ild</label>
        <input type="number" class="form-control" placeholder="ild"
            id="ild" name="ild" [(ngModel)]="ild" style="width: 50%;">
        <br>
        <label for="indice_de_beteau">indice de beteau</label>
        <input type="number" class="form-control" placeholder="indice_de_beteau"
            id="indice_de_beteau" name="indice_de_beteau" [(ngModel)]="indice_de_beteau" style="width: 50%;">
        <br>
        <label for="criaderoPredonimante">criadero predonimante</label>
        <input type="number" class="form-control" placeholder="criaderoPredonimante"
            id="criaderoPredonimante" name="criaderoPredonimante" [(ngModel)]="criaderoPredonimante" style="width: 50%;">
        <button type="button" class="btn btn-primary">Enviar</button>
    </div>
</form>
